<!-- Header -->
<header class="header-container desktop">
	<h1 class="header-h1">
		<a href="{{site.url}}">{{site.name}}</a>
	</h1>
	<nav class="header-nav">
		{% for link in menu.get_items %}
			<a href="{{link.link}}" class="header-nav-item">{{link.title}}</a>
		{% endfor %}

		<a href="{{site.url}}#utopia" class="header-nav-item">utopie?</a>
	</nav>
</header><!-- mobile --><div id="window-width" data-width="{{ window_width }}"></div>
<header class="header-container mobile">
	<div class="header-mobile-navbar">
		<h1 class="header-h1">
			<a href="{{site.url}}">{{site.name}}</a>
		</h1>
		<button aria-label="Open menu" onclick="openMenu()" class="header-btn">
			<svg width="13" height="26" viewbox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.499999 13L13 0.5L13 25.5L0.499999 13Z" fill="black"></path>
			</svg>
		</button>
	</div>
	<nav class="header-nav-mobile">
		<a href="single-marque.html" class="header-nav-item">marques</a>
		<a href="single-multinationales.html" class="header-nav-item">multinationales</a>
		<a href="" class="header-nav-item">utopie?</a>
	</nav>
</header>
