{% extends "base.twig" %}

{% block content %}
	<main class="{{ get_score_category(post.score)}}">
		<section class="single-hero-cont">
			<h2 class="single-hero-siege-social">{{ post.siege_social}}</h2>
			<h1 class="single-hero-title">{{ post.title }}</h1>
			<div class="single-hero-score-cont">
				<div class="single-hero-score-line">
					<p class="single-hero-score">{{post.score}}</p>
					<p class="single-hero-score">{{post.score}}</p>
					<p class="single-hero-score">{{post.score}}</p>
					<p class="single-hero-score">{{post.score}}</p>
					<p class="single-hero-score">{{post.score}}</p>
					<p class="single-hero-score">{{post.score}}</p>
					<p class="single-hero-score">{{post.score}}</p>
					<p class="single-hero-score">{{post.score}}</p>
					<p class="single-hero-score">{{post.score}}</p>
					<p class="single-hero-score">{{post.score}}</p>
					<p class="single-hero-score">{{post.score}}</p>
				</div>
			</div>
			<img src="{{ Image(post.hero_bg).src }}" alt="" class="single-hero-img">
			<div class="single-hero-tiles" data-logo-url="{{ Image(post.logo).src }}"></div>
		</section>
		<section class="single-content">
			<div class="single-pattern-container sous-marque"></div>
			<div class="single-bg"></div>
			<section class="single-notation-section">
				{% include 'notation-critere.twig' %}
				{% if post.situations_juridique %}
					<div class="single-notation-critere-cont juridique">
						<h2 class="single-notation-critere-titles">Situation juridique</h2>
						<div class="single-notation-juridique-cont">
							{% for article in Post(post.situations_juridique) %}
								<a href="{{article.label_url}}" target="_blank" class="single-notation-juridique">
									<p class="single-notation-juridique-icon">{{article.icon}}</p>
									<div class="single-notation-juridique-texts">
										<div class="single-notation-juridique-line">
											<p class="single-notation-juridique-type">{{article.label_type}}</p>
											<p class="single-notation-juridique-place">{{article.label_place}}</p>
										</div>
										<p class="single-notation-juridique-cta">en savoir plus</p>
									</div>
								</a>
							{% endfor %}
						</div>
					</div>
				{% endif %}

				<div class="single-notation-transi"></div>
				<div class="single-notation-transi reverse"></div>
			</section>
			{% include 'articles.twig' %}

			<section class="single-alternative-section">
				<div class="single-alternative-content">
					<h2 class="single-alternative-section-title">Sous-marques</h2>
					{% if post.sous_marque %}
						<div class="single-alternative-cont">
							{% for marque in Post(post.sous_marque) %}
								<a href="{{marque.link}}" class="single-alternative solo-{{ get_score_category(marque.score)}}">
									<h3 class="single-alternative-title">{{marque.title}}</h3>
									<p class="single-alternative-type">{{marque.type}}</p>
									<div class="single-alternative-score">
										<p>{{marque.score}}</p>
										<p>{{marque.score}}</p>
										<p>{{marque.score}}</p>
										<p>{{marque.score}}</p>
									</div>
								</a>
							{% endfor %}
						</div>

					{% else %}
						<h3 class="single-alternative-blank">Il n’y pas encore de sous-marque à cette multinationale...</h3>

					{% endif %}
				</div>
				<a href="{{page_blank}}" class="single-alternative-corr sous-marque">Suggérer une correction</a>
				<img src="{{ theme_uri }}/img/coline-fade.webp" alt="" loading="lazy" class="single-alternative-fade sous-marque">
				<img src="{{ theme_uri }}/img/supermarche.webp" alt="" loading="lazy" class="single-alternative-bg sous-marque">
			</section>
		</section>
	</main>
{% endblock %}
